# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.a

# build directory
build

# install directory
install

# generated images
*.png

data/gshhg-gmt-2.3.7.tar.gz
data/gshhg-gmt-2.3.7
data/gshhg.info

