# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.a

# build directory
build

# install directory
install

# generated images
*.png

removed.colormaps
log.nv

